body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
}

.container {
  width: 830px;
  display: flex;
  flex-direction: row;
}

article {
  height: 400px;
  padding: 35px;
}

.sedan-card {
  background-color: hsl(31, 77%, 52%);
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.suv-card {
  background-color: hsl(184, 100%, 22%);
}

.luxury-card {
  background-color: hsl(179, 100%, 13%);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

h1,
.btn {
  color: hsl(0, 0%, 95%);
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.9;
}

.btn {
  text-decoration: none;
  background-color: hsl(0, 0%, 95%);
  padding: 10px 25px;
  border-radius: 50px;
  display: inline-block;
  margin-top: 70px;
}

.btn-sedan {
  color: hsl(31, 77%, 52%);
}
.btn-suv {
  color: hsl(184, 100%, 22%);
}
.btn-luxury {
  color: hsl(179, 100%, 13%);
}

.btn-sedan:hover,
.btn-suv:hover,
.btn-luxury:hover {
  color: hsl(0, 0%, 95%);
  cursor: pointer;
  border: 2px solid hsl(0, 0%, 95%);
}

.btn-sedan:hover {
  background-color: hsl(31, 77%, 52%);
}
.btn-suv:hover {
  background-color: hsl(184, 100%, 22%);
}
.btn-luxury:hover {
  background-color: hsl(179, 100%, 13%);
}

.attribution {
  margin-top: 50px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  body {
    margin-top: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 320px;
  }

  article {
    height: 340px;
    padding: 42px;
  }
  .sedan-card {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
  }
  .luxury-card {
    border-top-right-radius: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .btn {
    margin-top: 10px;
  }
}
